.button{
    width: 150px;
    height: 50px;
    background-color: rgb(238, 107, 0);
    border: 0;
    padding: 0.4rem;
    color: white;
    border-radius: 0.5rem;
    transition: filter 0.2s;

    &[disabled]{
        cursor: not-allowed;
        svg{
            animation: animate 2s infinite;
        }
    }

    &:hover{
        filter: brightness(1.1);
        cursor: pointer;
    }
}

.buttonText{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

@keyframes animate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}